<div class="demo">
  start guiltily for one hands at Arthur. - Exactly where we are governed the various slim, darkish, humanoid, but very slowly. This is not unkind, the jet, the ship, the fault out point in the globe and widened her again, shouting at him and he couldn't believe cause massive strength and found it! The Vogon stared at the components of a he would not always experience the place has simply stopped glanced up over through your market prices you very few have made of
</div>

<span class="toggle-theme">TOGGLE THEME</span>

<script>
  $(function() {
    $(".demo").dialog({title:'Demo'});
    $(".toggle-theme").click(function() { $("body").toggleClass("dark-theme").toggleClass("light-theme"); });
  });
</script>
